<div class="container mt-5">
  <h1>Feature List</h1>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" [routerLink]="['/standalone-components']">Standalone Components</a>
    <a class="list-group-item list-group-item-action">Directive Composition</a>
    <a class="list-group-item list-group-item-action">Functional Router Guards</a>
    <a class="list-group-item list-group-item-action">Image Optimization</a>
    <a class="list-group-item list-group-item-action">RxJs: takeUntilDestroyed and DestroyRef</a>
  </div>
</div>
